# Auto detect text files and perform LF normalization
* text=auto

# Rust
*.rs text eol=lf
Cargo.toml text eol=lf
Cargo.lock text eol=lf -diff

# Web
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf

# Markdown
*.md text eol=lf

# Binary files
*.enc binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

